#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CXXFLAGS=-g -O2 -ansi -Wall -DLOG_LEVEL_INFO

%:
	dh $@ 

override_dh_auto_configure:
	# ./configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info CFLAGS="$(CFLAGS)" LDFLAGS="-Wl,-z,defs" CXXFLAGS="$(CXXFLAGS)"
	dh_auto_configure -- CXXFLAGS="$(CXXFLAGS)"

override_dh_install:
	dh_install
	sed -i "/dependency_libs/ s/'.*'/''/" \
	    "$(CURDIR)/debian/biosensor/usr/lib/biosensor/libbiosensor-xml.la" \
	    "$(CURDIR)/debian/biosensor/usr/lib/biosensor/libbiosensor.la" \
	    "$(CURDIR)/debian/biosensor/usr/lib/biosensor/libbiosensor-slv-fd.la"
